<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doomflix - Your Ultimate Movie Database</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/landingStyles.css}">
    <link rel="stylesheet" th:href="@{/css/navbarStyles.css}">
    <link rel="stylesheet" th:href="@{/css/footerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/movieCardStyles.css}">
    <link rel="stylesheet" th:href="@{/css/modalStyles.css}">
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<header class="jumbotron jumbotron-fluid bg-dark text-white text-center header-background">

    <div class="container">
        <h1 class="display-4">Welcome to Doomflix</h1>
        <p class="lead">Your ultimate movie database</p>
        <div class="row justify-content-center mt-4">
            <div class="col-md-4 mb-3 d-flex align-items-stretch">
                <div class="card text-dark bg-dark border-light flex-fill movie-background">
                    <div class="card-body text-center d-flex flex-column">
                        <h5 class="card-title">All Movies & Series</h5>
                        <p class="card-text flex-grow-1">Explore our extensive collection of movies and series from all genres and eras.</p>
                        <a href="/movies" class="btn btn-doomflix-theme mt-auto">View Movies</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 d-flex align-items-stretch">
                <div class="card text-dark bg-dark border-light flex-fill theater-background">
                    <div class="card-body text-center d-flex flex-column">
                        <h5 class="card-title">All Theatres</h5>
                        <p class="card-text flex-grow-1">Find theatres near you and check out their current screenings.</p>
                        <a href="/theaters" class="btn btn-doomflix-theme mt-auto">View Theatres</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="top-movies-all-time" class="container my-5">
    <h2 class="text-center mb-4">Top 10 Movie Picks</h2>
    <div id="top-movies-all-time-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div th:each="chunk, iterStat : ${topRatedMovies}" th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <div class="carousel-container">
                    <div th:each="movie : ${chunk}" class="carousel-card">
                        <a th:href="@{/movies/{id}(id=${movie.getId()})}">
                            <div class="card" th:style="|background-image: url('${movie.poster}'); background-size: cover; background-position: center;|"
                                 th:if="${movie.getPoster() != null}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${movie.getTitle()}">Movie Title</h5>
                                    <p class="card-text" th:text="${movie.getYear()}">Year</p>
                                    <p class="card-text" th:text="${movie.getImdb().split(' ')[1].substring(0, 3)} + '/10'">Year</p>
                                </div>
                            </div>
                            <div class="card" th:unless="${movie.getPoster() != null}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${movie.getTitle()}">Movie Title</h5>
                                    <p class="card-text" th:text="${movie.getYear()}">Year</p>
                                    <p class="card-text p-0 m-0" th:text="${movie.getImdb().split(' ')[1].substring(0, 3)} + '/10'">Year</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#top-movies-all-time-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#top-movies-all-time-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section id="top-ten-series" class="container my-5">
    <h2 class="text-center mb-4">Top 10 TV Shows</h2>
    <div id="top-ten-series-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div th:each="chunk, iterStat : ${topRatedSeries}" th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <div class="carousel-container">
                    <div th:each="movie : ${chunk}" class="carousel-card">
                        <a th:href="@{/movies/{id}(id=${movie.getId()})}">
                            <div class="card" th:style="|background-image: url('${movie.poster}'); background-size: cover; background-position: center;|"
                                 th:if="${movie.getPoster() != null}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${movie.getTitle()}">Movie Title</h5>
                                    <p class="card-text" th:text="${movie.getYear()}">Year</p>
                                    <p class="card-text" th:text="${movie.getImdb().split(' ')[1].substring(0, 3)} + '/10'">Year</p>
                                </div>
                            </div>
                            <div class="card" th:unless="${movie.getPoster() != null}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${movie.getTitle()}">Movie Title</h5>
                                    <p class="card-text" th:text="${movie.getYear()}">Year</p>
                                    <p class="card-text p-0 m-0" th:text="${movie.getImdb().split(' ')[1].substring(0, 3)} + '/10'">Year</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#top-ten-series-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#top-ten-series-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section id="movies-by-genre" class="container my-5">
    <h2 class="text-center mb-4">Movies & Series By Genre</h2>
    <div id="by-genre-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div th:each="chunk, iterStat : ${allGenres}" th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <div class="carousel-container">
                    <div th:each="genre : ${chunk}" class="carousel-card carousel-card-genre">
                        <div class="card" id="genre-card" th:classappend="'genre-' + ${genre.toLowerCase()}">
                            <div class="card-body" id="genre-card-body">
                                <h5 class="card-title genre-card-title" th:text="${genre}" id="genre-card-title"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#by-genre-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#by-genre-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<footer th:replace="~{fragments/footer}"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
