<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" xmlns:sec="http://www.thymeleaf.org" >
    <a class="navbar-brand" href="/home">Doomflix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bar-push" id="navbarNav">
        <form class="form-inline my-2 my-lg-0 ml-lg-3" th:action="@{/movies/search}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search movies" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#theatres">Theatres</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/users/my_account.html}">My Account</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/users/my_account.html}">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span sec:authorize="hasRole('ROLE_ADMIN')" class="badge badge-primary">Admin</span>
                    <span sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')" class="badge badge-secondary">User</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN')">
                <a class="nav-link" id="logoutButton" th:href="@{/logout}">Logout</a>
            </li>
            <li class ="nav-item" sec:authorize="!hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')">
                <a class="nav-link" data-toggle="modal" data-target="#loginModal">Log in</a>
            </li>
        </ul>
    </div>
</nav>
<div th:replace="~{fragments/login/login}"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('logoutButton').addEventListener('click', function() {
            fetch('/logout', {
                method: 'GET'
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error('Logout failed');
                    }
                })
                .catch(error => {
                    console.error('Network error:', error);
                });
        });
    });
</script>
