body {
    background-color: #121212;
    color: #ffffff;
}

.card {
    background-color: #1e1e1e;
    border: none;
}

.card-title, .card-text {
    color: #ffffff;
}

.footer {
    background-color: #1e1e1e;
    padding: 20px 0;
    text-align: center;
}

#top-movies-all-time-carousel .carousel-inner, #top-movies-all-time-carousel .carousel-inner {
    display: flex;
}

.card-container {
    flex: 0 0 auto;
    width: 20%;
    margin-right: 10px;
}

.card {
    width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.jumbotron {
    background-color: #1a1a1a;
    color: #ffffff;
}

.jumbotron .card {
    background-color: #1e1e1e;
    border: 1px solid #343a40;
    display: flex;
    flex-direction: column;
}

.jumbotron .card-body {
    display: flex;
    flex-direction: column;
}

.jumbotron .card-title, .jumbotron .card-text {
    color: #ffffff;
}

.jumbotron .card .btn {
    margin-top: auto;
}

.btn-doomflix-theme {
    color: #ffffff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-doomflix-theme:hover {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #cc0000;
}

.btn-doomflix-theme:focus, .btn-doomflix-theme.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}

