.update-info .btn-outline-success {
    color: #ffffff;
    border-color: #ff0000;
}

.update-info .btn-outline-success:hover {
    color: #ffffff;
    background-color: #ff0006;
    border-color: #ff0000;
}

.btn-custom-width {
    width: 100%;
}

.main-content{
    margin-top: 20px;
}