.navbar {
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #514f4f;
    padding-bottom: 0;
    padding-top: 4px;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    padding-top: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .form-control {
    background-color: #1e1e1e;
    border: none;
    color: #ffffff;
}

.navbar-dark .form-control::placeholder {
    color: #a9a9a9;
}

.navbar-dark .btn-outline-success {
    color: #ffffff;
    border-color: #ff0000;
}

.navbar-dark .btn-outline-success:hover {
    color: #ffffff;
    background-color: #ff0006;
    border-color: #ff0000;
}
