<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Doomflix - Your Ultimate Movie Database</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbarStyles.css}">
    <link rel="stylesheet" th:href="@{/css/movieCardStyles.css}">
    <link rel="stylesheet" th:href="@{/css/footerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/userPageStyles.css}">
</head>
<body style="background: black;">

<nav th:replace="~{fragments/navbar}"></nav>

<div style="background: black;">

<div class="d-flex container justify-content-center m-auto" style="background: black;">
    <div class="card" id="details-card-img" th:style="|background-image: url('${movie.poster}'); background-size: cover; background-position: center;|"
         th:if="${movie.getPoster() != null}">
    </div>
    <div class="card" id="details-card-black" th:unless="${movie.getPoster() != null}"></div>
    <div class="card" id="details-card-text">
        <div class="card-body">
            <h5 class="card-title" th:text="${movie.getTitle()}">Movie Title</h5>
            <p class="card-text" th:text="${movie.getYear()}"></p>
            <p class="card-text" th:text="${movie.getFullplot()}"></p>
            <p class="card-text" th:text="'Runtime: ' + ${movie.getRuntime()}"></p>
            <div class="d-flex card-text flex-wrap">
                <p class="card-text mr-1 ml-1">Directors:</p>
                <p class="card-text" th:each="director : ${movie.getDirectors()}" th:text="${director}"></p>
            </div>
            <div class="d-flex card-text flex-wrap">
                <p class="card-text mr-1 ml-1">Actors:</p>
                <p class="card-text" th:each="actor : ${movie.getCast()}" th:text="${actor}"></p>
            </div>
            <div class="d-flex card-text flex-wrap">
                <p class="card-text mr-1 ml-1">Writers:</p>
                <p class="card-text" th:each="writer : ${movie.getWriters()}" th:text="${writer}" style="width: fit-content;"></p>
            </div>
            <p class="card-text" th:text="'Genres: ' + ${movie.getGenres()}"></p>
            <p class="card-text" th:text="'Awards: ' + ${movie.getAwards().split(', ')[2]}"></p>
            <p class="card-text" th:text="'IMDB Rating: ' + ${movie.getImdb().split(' ')[1].substring(0, 3)} + '/10'"></p>
            <p class="card-text" th:text="'Rated: ' + ${movie.getRated()}"></p>
            <p class="card-text" th:text="'Tomatoes: ' + ${movie.getTomatoes()}"></p>
            <div class="d-flex card-text flex-wrap">
                <p class="card-text mr-1 ml-1">Countries:</p>
                <p class="card-text" th:each="country : ${movie.getCountries()}" th:text="${country}"></p>
            </div>
            <div class="d-flex card-text flex-wrap">
                <p class="card-text mr-1 ml-1">Languages:</p>
                <p class="card-text" th:each="language : ${movie.getLanguages()}" th:text="${language}"></p>
            </div>
            <p class="card-text" th:text="'Released: ' + ${movie.getReleased()}"></p>
            <p class="card-text" th:text="'Type: ' + ${movie.getType()}"></p>
        </div>
    </div>
</div>
<div class="comments-wrapper" style="background: black;">
    <div class="container comments-container">
        <h2 class="text-center">Latest Comments</h2>
        <div th:each="comment : ${comments}" class="comment">
            <p th:text="${comment.getText()}">Sample comment content</p>
            <small class="text-muted">
                <a th:href="@{/user/{id}(id=${comment.getEmail()})}" th:text="${comment.getName()}">Username</a>
            </small>
            <div>
                <small class="text-muted" th:text="${comment.getDate()}">Comment Date</small>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>